.header {
  display: flex;
  justify-content: space-between;
  background-color: orange;
  border: 1px solid black;
  color: black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  overflow: hidden;
  padding: 40px;
  padding-top: 20px;
  margin: 30px;
  width: 200px;
  height: 340px;
  border-radius: 9px;
}
.res-card:hover {
  transform: translate(0, -7px);
}
.search {
  padding: 10px;
  margin: 10px;
}
.res-logo {
  width: 100%;
  height: 50%;
}
h4 {
  padding: 0;
  margin: 5px;
}

.res-container {
  margin: 70px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(233, 248, 247); */
}
.filter {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* Shimmer Style Start */

.shimmer-container {
  margin: 50px;
  /* background-color: rgb(233, 248, 247); */
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 40px;
  margin: 30px;
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
}

/* Shimmer Style ends */

.login {
  margin-left: 10px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

/* Restaurant  menu style */
.resta {
  padding: 40px;
  padding-top: 30px;
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  margin: 100px;
}
.resta > h1 {
  color: rgb(0, 17, 255);
}
.resta > div > h3 {
  color: green;
}
.resta > h3 {
  color: purple;
}
.resta:hover {
  transform: translate(0, -7px);
}
.menu-card {
  font-size: 15px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(186, 222, 235);
}

.res-logo-menu{
  display: flex;
  flex-wrap: wrap;
  size: 20%;
  padding: 0;
  width: 100%;
  height: 10%;
}

.link{
  text-decoration: none;
}